:root {
  font-family: sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

.star-rating {
  font-size: 24px;
}

.star {
  cursor: pointer;
}

.star.hover {
  color: gold;
}

.star.active {
  color: orange;
}
